<footer>
    <div class="logos">
        <h3> If your feeling inspired, come join the adventure with us !</h3>
        <a href= "https://shecodes.com.au/" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/shecodes1.png"></a>
        <a href= "https://www.facebook.com/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/facebook.png"></a>
        <a href= "https://www.instagram.com/shecodesaus/?hl=en" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/instagram.png"></a>
        <a href= "https://www.linkedin.com/company/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/linkedin.png"></a>
        <a href= "https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/twitter.png"></a>
    </div>
</footer>