<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="Anika Rundle" />
          <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <header>
          <div id="x"></div>
            <script>
                  let img = document.createElement("img");
                  img.src = "/images/head.gif";
                  let div = document.getElementById("x");
                  div.appendChild(img);
                  div.setAttribute("style", "text-align:center");
            </script>
    </header>
    <br>
    <nav>
            <div class="nav">
                  <a href="">Home</a>
                  <a href="">Create New Account</a>
                  <a href="">Login</a>
                  <a id="wns" href="">Logout</a>
                  <a id="wns" href="">Update profile</a>
                  <a id="wns" href="">Create New profile</a>
            </div>
      </nav>
      <br>
    <body>