<%- include("../partials/_head") -%>
        <div>
            <br>
            <br>
          <h2>“Always remember you are braver than you believe, 
              stronger than you seem, 
              smarter than you think and twice as beautiful as you’ve ever imagined.”</h2>
            <h4>– Dr. Seuss</h4>
            <br>
            <br>
        </div>

          <% people.forEach(person => { %>
            <a href="/profile/<%= person.id %>">
                <p class="names"><%= person.name %></p>
            </a>
            <% }) %>
    </body>
    <%- include("../partials/_footer") -%>
</html>