<%- include("../partials/_head") -%>

<h1>Create Profile</h1>

<form action="/profile" method="POST" enctype="multipart/form-data">
    <label>Name</label>
    <input name="name" placeholder="Enter your name" type="text" />
    <br>
    <label>Tagline</label>
    <input name="tagline" placeholder="Enter a tag line" type="text" />
    <br>
    <label>Bio</label>
    <br>
    <textarea name="bio" class="bio" placeholder="Tell us how you got here !"></textarea>
    <br>
    <label>Photo / Image</label>
    <br>
    <input name="photo" type="file" />
    <br>
    <input type="submit" value="Create" />
</form>

<%- include("../partials/_footer") -%>