<%- include("../partials/_head") -%>
        <div>
          <h2>User Profile</h2>
          <div> 
              <div > 
                  <br> 
                <img> 
                  <div > 
                    <h1>User Details</h1> 
                    <p> 
                        <strong>Name</strong>: <%= user.local.name %><br> 
                        <strong>Email</strong>: <%= user.local.email %> 
                    </p> 
                    <a href="">Logout</a> 
                  </div>  
            </div> 
         </div> 
  </body>
  <%- include("../partials/_footer") -%>
</html>